<div class="container">
  <div class="container-box">
 <h1>Registration</h1>
  <div class="input-box">
    <div class="input-box">
    <h5>Your username</h5>
    <input type="fprm-control" name="name" placeholder="yousername" id="login">
    </div>
    <div class="input-box">
    <h5>Your email</h5>
    <input placeholder="email">
    </div>
    <div class="input-box">
    <h5>Your password</h5>
    <input placeholder="*******" type="password" id="password">
    </div>
    <div class="input-box">
      <h5>Please confirm your password</h5>
    <input placeholder="*******" type="password" id="one">
    </div>
      <br>
    <button id="check">Sign Up</button>
  </div>
  </div>
</div>
