h5 {
  margin:0;
  color: #fdfdfe ;
}
button {
  border-radius: 3px 3px;
  border: none;
  padding: 15px 88px;
}
input {
  margin-bottom: 13px;
  border: none;
  padding: 7px 30px;
}
.input-box {
  display: flex;
  text-align: start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}
 #check {
   background: white;
 }
