<div class="container">
  <div class="container-box">
    <h1>{{title}}</h1>
    <div class="input-container">
    <h5>Username</h5>
    <input placeholder="Email or Phone" type="text">
    </div>
    <div class="input-container">
    <h5>Password</h5>
    <input placeholder="Password" type="password">
    </div>
    <br>
    <div class="box-bottom">
    <button class="login">
      Log In
    </button>
      <div class="min-btn">
      <a href="https://www.google.com/">
        <button class="btn" >
          Google
        </button>
      </a>
      <a href="https://uk-ua.facebook.com/">
       <button class="btn" >
      Facebook
       </button>
      </a>
      </div>
  </div>
</div>
